<!DOCTYPE html>
<html>
<head>
<title>Gallery</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/main.css" rel="stylesheet"/>
<!-- js -->
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<!-- //js -->
<link href='http://fonts.useso.com/css?family=Quicksand:400,300,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script src="js/vue.js"></script>
<script src="js/axios.min.js"></script>
<link rel="stylesheet" type="text/css" href="css/vue/component.css"/>

<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
<style type="text/css">
	.selecton{
		color: deepskyblue;
	}
	.selectno{
		color: gray;
	}
</style>
</head>
	
<body>

<!-- header -->
	<div class="header">	
		<div class="header-top">
			<div class="container"> 
				<div class="header-top-left">
					<ul>
						<li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>+0123 345 569</li>
						<li><a href="mailto:info@example.com"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>info@example.com</a></li>
					</ul>
				</div>
			
				<div class="header-top-left1">
				<ul class="social-icons">
               <li> <a alt="点击登录" title="点击登录"  href="#" class="btn btn-default" role="button">登录</a><i></i></li>
                <li><a alt="点击注册" title="点击注册"  href="#" class="btn btn-default" role="button">注册</a></li>
             </ul>
              </div>
             <!--房屋搜索-->
				<div class="header-top-right">
					<div class="search">
						<input class="search_box" type="checkbox" id="search_box">
						<label class="icon-search" for="search_box"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></label>
						<div class="search_form">
							<form action="#" method="post">
								<input type="text" name="Search" placeholder="房屋搜索">
								<input type="submit" value=" ">
							</form>
						</div>
					</div>
				</div>
				
				<div class="clearfix"> </div>
			</div>
		</div>
		<!--标题-->
		<div class="header-bottom">
			<div class="container">
				<nav class="navbar navbar-default">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<div class="logo">
							<h1><a class="navbar-brand" href="index.html">在线租房系统 <!--<span>rent</span>--></a></h1>
						</div>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
						<nav>
							<ul class="nav navbar-nav">
								<li><a href="index.html" class="hvr-bounce-to-bottom">首页</a></li>
								<li><a href="#" class="hvr-bounce-to-bottom">区域找房</a></li>
								<li><a href="#" class="hvr-bounce-to-bottom">地铁找房</a></li>
								<li><a href="#" class="hvr-bounce-to-bottom">地图找房</a></li>
								<!--<li><a href="mail.html" class="hvr-bounce-to-bottom">Mail Us</a></li>-->
							</ul>
						</nav>
					</div>
					<!-- /.navbar-collapse -->
				</nav>
			</div>
		</div>
	</div>

<!--条目栏-->
<div class="container">
		<div class="collapse navbar-collapse nav-wil" id="tiaomu" >
			
					<nav>
					<ol class="list-unstyled">
								
						<li v-for="arrk,indexs in arrs" class="clearfix">
							<ul class="nav navbar-nav" style="float: left;">
								<li><a href="#" class="selectno">{{arrk.title}}</a></li>
							  <li  v-for="lis,index in arrk.arr"><a v-bind:href="lis.addr" v-bind:class="selecton[indexs][index].selectonclass" v-on:click="selectcolumn(indexs,index)" v-bind:title="lis.texts">{{lis.texts}}</a></li>
							</ul>
						</li>
					</ol>
							
					</nav>
		</div>
		</div>
		
<!-- gallery -->
	<div class="gallery">
		<div class="container">
			<div class="collapse navbar-collapse nav-wil" >
						<nav>
							<ul class="nav navbar-nav" style="float: left;">
								<li><a href="index.html" class="hvr-bounce-to-bottom">综合排序</a></li>
								<li><a href="#" class="hvr-bounce-to-bottom">价格由低到高</a></li>
								<li><a href="#" class="hvr-bounce-to-bottom">价格由高到低</a></li>
								<li><a href="#" class="hvr-bounce-to-bottom">面积从大到小</a></li>
								<!--<li><a href="mail.html" class="hvr-bounce-to-bottom">Mail Us</a></li>-->
							</ul>
						</nav>
					</div>
			
			<div class="gallery-grids carouselGallery-grid hidden-xs">
				<!--展示组件-->
		<div id="house-gallery">
        <page v-bind:item="result" v-bind:gallerylength="gallerylength"></page>
       </div>
				<div class="clearfix"> </div>
				<script src="js/main.js"></script>
			</div>
		</div>
	</div>
	
<!-- //gallery -->

<!-- //footer -->
<!-- for bootstrap working -->
	<script src="js/bootstrap.js"></script>
<!-- //for bootstrap working -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
			
	</script>

	<!--分页********************************************************-->
	<template id="page-template"><!--只有一个<></>-->
    	<div class="">
    	<!--<ol>
    		 <li v-for="(object, index) in item.slice(biganindex-1,pagelinum+biganindex-1)">
    {{ index }} - {{ object.message }}
  </li>
    	</ol>-->
    	<ol class="list-unstyled" id="house-gallery">
					<house-gallery v-bind:item="tool" v-for="tool in item.slice(biganindex-1,pagelinum+biganindex-1)"></house-gallery>
		</ol>			
    	<div>
        <ul class="pagination">
          <li :class="{disabled: current == 1}" @click="decre" v-if="allpage > 1">上一页</li>
          <li :class="{active: current == 1}" @click="goto(1)">1</li>
          <li class="ellipsis" v-show="current >= showItem && bigLimit > 10">...</li>
          <li :class="{active: current == index+offset}" v-for="(item,index) in middlePages" @click="goto(index+offset)">{{index+offset}}</li>
          <li class="ellipsis" v-show="current < bigLimit && bigLimit > 10">...</li>
          <li :class="{active: current == allpage}" @click="goto(allpage)" v-if="allpage > 1">{{allpage}}</li>
          <li :class="{disabled: current == allpage}" @click="incre" v-if="allpage > 1">下一页</li>
        </ul>
        </div>
        </div>
    </template>
    <!--展示template-->
    <template id="gallery-template">
    <li class="clearfix">
				  <div class="gallery-grid col-md-3">                                                                                     
					<div class="carouselGallery-col-1 carouselGallery-carousel" data-likes="3144" style="background-image:url(images/8.jpg);">  
						<div class="carouselGallery-item">                                                                  
							<div class="carouselGallery-item-meta">
								<span class="carouselGallery-item-meta-user">
								Temporibus
							</span>
							<span class="carouselGallery-item-meta-likes">
									<span class="glyphicon glyphicon-heart heart" aria-hidden="true"></span>4535
								</span>
							</div>
						</div>'
					</div>'
				 </div>'
				<div style="float: right;" >{{item.price}}</div>
					<h2><a href="#" style="text-decoration: none;">{{item.title}}</a></h2><!--房屋标题信息-->
					<ol class="list-unstyled"><!--主要信息-->
						<li>整套 · 65m² · 南北</li>
						<li>嘉定-江桥</li>
					</ol>
					<ol style="position: relative;top: 120px;" class="list-unstyled">
						<li style="float: left;">A-----------------------------------</li>
						<li style="float: left;">B-----------------------------------</li>
					</ol>
    </li>
    </template>
    

<!-- //here ends scrolling icon -->
<script src="js/vue/component.js"></script><!--引入含有vue实例对象，必须在组件后引入-->
</body>
</html>