<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rent.mapper.HousenumMapper">
  <resultMap id="BaseResultMap" type="com.rent.bean.Housenum">
    <id column="hsn_Id" jdbcType="INTEGER" property="hsnId" />
    <result column="hsn_Region" jdbcType="VARCHAR" property="hsnRegion" />
    <result column="hsn_HouseNum" jdbcType="INTEGER" property="hsnHousenum" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    hsn_Id, hsn_Region, hsn_HouseNum
  </sql>
  <select id="selectByExample" parameterType="com.rent.bean.HousenumExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from rent_housenum
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from rent_housenum
    where hsn_Id = #{hsnId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from rent_housenum
    where hsn_Id = #{hsnId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.rent.bean.HousenumExample">
    delete from rent_housenum
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.rent.bean.Housenum">
    insert into rent_housenum (hsn_Id, hsn_Region, hsn_HouseNum
      )
    values (#{hsnId,jdbcType=INTEGER}, #{hsnRegion,jdbcType=VARCHAR}, #{hsnHousenum,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.rent.bean.Housenum">
    insert into rent_housenum
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="hsnId != null">
        hsn_Id,
      </if>
      <if test="hsnRegion != null">
        hsn_Region,
      </if>
      <if test="hsnHousenum != null">
        hsn_HouseNum,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="hsnId != null">
        #{hsnId,jdbcType=INTEGER},
      </if>
      <if test="hsnRegion != null">
        #{hsnRegion,jdbcType=VARCHAR},
      </if>
      <if test="hsnHousenum != null">
        #{hsnHousenum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.rent.bean.HousenumExample" resultType="java.lang.Integer">
    select count(*) from rent_housenum
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update rent_housenum
    <set>
      <if test="record.hsnId != null">
        hsn_Id = #{record.hsnId,jdbcType=INTEGER},
      </if>
      <if test="record.hsnRegion != null">
        hsn_Region = #{record.hsnRegion,jdbcType=VARCHAR},
      </if>
      <if test="record.hsnHousenum != null">
        hsn_HouseNum = #{record.hsnHousenum,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update rent_housenum
    set hsn_Id = #{record.hsnId,jdbcType=INTEGER},
      hsn_Region = #{record.hsnRegion,jdbcType=VARCHAR},
      hsn_HouseNum = #{record.hsnHousenum,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.rent.bean.Housenum">
    update rent_housenum
    <set>
      <if test="hsnRegion != null">
        hsn_Region = #{hsnRegion,jdbcType=VARCHAR},
      </if>
      <if test="hsnHousenum != null">
        hsn_HouseNum = #{hsnHousenum,jdbcType=INTEGER},
      </if>
    </set>
    where hsn_Id = #{hsnId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rent.bean.Housenum">
    update rent_housenum
    set hsn_Region = #{hsnRegion,jdbcType=VARCHAR},
      hsn_HouseNum = #{hsnHousenum,jdbcType=INTEGER}
    where hsn_Id = #{hsnId,jdbcType=INTEGER}
  </update>
</mapper>