<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rent.mapper.DialogMapper">
  <resultMap id="BaseResultMap" type="com.rent.bean.Dialog">
    <id column="dl_Id" jdbcType="INTEGER" property="dlId" />
    <result column="dl_Entry" jdbcType="VARCHAR" property="dlEntry" />
  </resultMap>
  <resultMap id="WithEntrydlResultMap" type="com.rent.bean.Dialog">
    <id column="dl_Id" jdbcType="INTEGER" property="dlId" />
    <result column="dl_Entry" jdbcType="VARCHAR" property="dlEntry" />
    <collection property="entrydl" ofType="com.rent.bean.Entrydl" >
      <id column="edl_Id" jdbcType="INTEGER" property="edlId" />
      <result column="dl_Id" jdbcType="INTEGER" property="dlId" />
      <result column="edl_detail" jdbcType="VARCHAR" property="edlDetail" />
    </collection>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    dl_Id, dl_Entry
  </sql>
  <sql id="Base_Column_ListWithEntrydl">
    rent_dialog.dl_Id, dl_Entry,edl_Id,rent_entrydl.dl_Id,edl_detail
  </sql>
  <select id="selectByExample" parameterType="com.rent.bean.DialogExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from rent_dialog
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <!---->
  <select id="selectByExampleWithEntrydl"  resultMap="WithEntrydlResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_ListWithEntrydl" />
    from rent_dialog LEFT JOIN rent_entrydl ON rent_entrydl.dl_id =  rent_dialog.dl_id
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from rent_dialog
    where dl_Id = #{dlId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from rent_dialog
    where dl_Id = #{dlId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.rent.bean.DialogExample">
    delete from rent_dialog
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.rent.bean.Dialog">
    insert into rent_dialog (dl_Id, dl_Entry)
    values (#{dlId,jdbcType=INTEGER}, #{dlEntry,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.rent.bean.Dialog">
    insert into rent_dialog
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dlId != null">
        dl_Id,
      </if>
      <if test="dlEntry != null">
        dl_Entry,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dlId != null">
        #{dlId,jdbcType=INTEGER},
      </if>
      <if test="dlEntry != null">
        #{dlEntry,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.rent.bean.DialogExample" resultType="java.lang.Integer">
    select count(*) from rent_dialog
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update rent_dialog
    <set>
      <if test="record.dlId != null">
        dl_Id = #{record.dlId,jdbcType=INTEGER},
      </if>
      <if test="record.dlEntry != null">
        dl_Entry = #{record.dlEntry,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update rent_dialog
    set dl_Id = #{record.dlId,jdbcType=INTEGER},
      dl_Entry = #{record.dlEntry,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.rent.bean.Dialog">
    update rent_dialog
    <set>
      <if test="dlEntry != null">
        dl_Entry = #{dlEntry,jdbcType=VARCHAR},
      </if>
    </set>
    where dl_Id = #{dlId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rent.bean.Dialog">
    update rent_dialog
    set dl_Entry = #{dlEntry,jdbcType=VARCHAR}
    where dl_Id = #{dlId,jdbcType=INTEGER}
  </update>
</mapper>