<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rent.mapper.HouseMapper">
  <resultMap id="BaseResultMap" type="com.rent.bean.House">
    <id column="hs_Id" jdbcType="INTEGER" property="hsId" />
    <result column="hs_Type" jdbcType="VARCHAR" property="hsType" />
    <result column="hs_Area" jdbcType="INTEGER" property="hsArea" />
    <result column="hs_City" jdbcType="VARCHAR" property="hsCity" />
    <result column="hs_District" jdbcType="VARCHAR" property="hsDistrict" />
    <result column="hs_HousingEstate" jdbcType="VARCHAR" property="hsHousingestate" />
    <result column="hs_Address" jdbcType="VARCHAR" property="hsAddress" />
    <result column="hs_Layer" jdbcType="INTEGER" property="hsLayer" />
    <result column="hs_Oriented" jdbcType="VARCHAR" property="hsOriented" />
    <result column="hs_Longitude" jdbcType="DOUBLE" property="hsLongitude" />
    <result column="hs_Latitude" jdbcType="DOUBLE" property="hsLatitude" />
    <result column="hs_Status" jdbcType="INTEGER" property="hsStatus" />
  </resultMap>
  <resultMap id="BaseResultMapWithReview" type="com.rent.bean.House">
    <id column="hs_Id" jdbcType="INTEGER" property="hsId" />
    <result column="hs_Type" jdbcType="VARCHAR" property="hsType" />
    <result column="hs_Area" jdbcType="INTEGER" property="hsArea" />
    <result column="hs_City" jdbcType="VARCHAR" property="hsCity" />
    <result column="hs_District" jdbcType="VARCHAR" property="hsDistrict" />
    <result column="hs_HousingEstate" jdbcType="VARCHAR" property="hsHousingestate" />
    <result column="hs_Address" jdbcType="VARCHAR" property="hsAddress" />
    <result column="hs_Layer" jdbcType="INTEGER" property="hsLayer" />
    <result column="hs_Oriented" jdbcType="VARCHAR" property="hsOriented" />
    <result column="hs_Longitude" jdbcType="DOUBLE" property="hsLongitude" />
    <result column="hs_Latitude" jdbcType="DOUBLE" property="hsLatitude" />
    <result column="hs_Status" jdbcType="INTEGER" property="hsStatus" />
    <collection property="reviewList" ofType="com.rent.bean.Review">
      <id column="rv_Id" jdbcType="INTEGER" property="rvId" />
      <result column="rgt_Id" jdbcType="INTEGER" property="rgtId" />
      <result column="hs_Id" jdbcType="INTEGER" property="hsId" />
      <result column="rv_Service_rat" jdbcType="INTEGER" property="rvServiceRat" />
      <result column="rv_Facility_rat" jdbcType="INTEGER" property="rvFacilityRat" />
      <result column="rv_Review" jdbcType="VARCHAR" property="rvReview" />
      <result column="rv_PicUrl" jdbcType="VARCHAR" property="rvPicurl" />
      <association property="userinfo" javaType="com.rent.bean.Userinfo">
        <id column="uif_Id" jdbcType="INTEGER" property="uifId" />
        <result column="uif_NickName" jdbcType="VARCHAR" property="uifNickname" />
        <result column="uif_Avatar" jdbcType="VARCHAR" property="uifAvatar" />
      </association>
    </collection>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    hs_Id, hs_Type, hs_Area, hs_City, hs_District, hs_HousingEstate, hs_Address, hs_Layer, 
    hs_Oriented, hs_Longitude, hs_Latitude, hs_Status
  </sql>
  <sql id="Base_Column_ListWithReview">
    b.hs_Id, hs_Type, hs_Area, hs_City, hs_District, hs_HousingEstate, hs_Address, hs_Layer,
    hs_Oriented, hs_Longitude, hs_Latitude, hs_Status,rv_Id,rgt_Id,a.hs_Id,rv_Service_rat,rv_Facility_rat
    ,rv_Review,rv_PicUrl,uif_NickName,uif_Avatar,uif_Id
  </sql>
  <select id="selectByExample" parameterType="com.rent.bean.HouseExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from rent_house
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <!--  ///   -->
  <select id="selectByExampleWithReview" parameterType="com.rent.bean.HouseExample" resultMap="BaseResultMapWithReview">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_ListWithReview" />
    from rent_review a ,rent_house b,rent_userinfo c
    where a.hs_Id = b.hs_Id and a.rgt_Id = c.uif_Id
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from rent_house
    where hs_Id = #{hsId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from rent_house
    where hs_Id = #{hsId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.rent.bean.HouseExample">
    delete from rent_house
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.rent.bean.House" useGeneratedKeys="true" keyProperty="hsId"  >
    insert into rent_house (hs_Id, hs_Type, hs_Area, 
      hs_City, hs_District, hs_HousingEstate, 
      hs_Address, hs_Layer, hs_Oriented, 
      hs_Longitude, hs_Latitude, hs_Status
      )
    values (#{hsId,jdbcType=INTEGER}, #{hsType,jdbcType=VARCHAR}, #{hsArea,jdbcType=INTEGER}, 
      #{hsCity,jdbcType=VARCHAR}, #{hsDistrict,jdbcType=VARCHAR}, #{hsHousingestate,jdbcType=VARCHAR}, 
      #{hsAddress,jdbcType=VARCHAR}, #{hsLayer,jdbcType=INTEGER}, #{hsOriented,jdbcType=VARCHAR}, 
      #{hsLongitude,jdbcType=DOUBLE}, #{hsLatitude,jdbcType=DOUBLE}, #{hsStatus,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.rent.bean.House" useGeneratedKeys="true" keyProperty="hsId">
    insert into rent_house
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="hsId != null">
        hs_Id,
      </if>
      <if test="hsType != null">
        hs_Type,
      </if>
      <if test="hsArea != null">
        hs_Area,
      </if>
      <if test="hsCity != null">
        hs_City,
      </if>
      <if test="hsDistrict != null">
        hs_District,
      </if>
      <if test="hsHousingestate != null">
        hs_HousingEstate,
      </if>
      <if test="hsAddress != null">
        hs_Address,
      </if>
      <if test="hsLayer != null">
        hs_Layer,
      </if>
      <if test="hsOriented != null">
        hs_Oriented,
      </if>
      <if test="hsLongitude != null">
        hs_Longitude,
      </if>
      <if test="hsLatitude != null">
        hs_Latitude,
      </if>
      <if test="hsStatus != null">
        hs_Status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="hsId != null">
        #{hsId,jdbcType=INTEGER},
      </if>
      <if test="hsType != null">
        #{hsType,jdbcType=VARCHAR},
      </if>
      <if test="hsArea != null">
        #{hsArea,jdbcType=INTEGER},
      </if>
      <if test="hsCity != null">
        #{hsCity,jdbcType=VARCHAR},
      </if>
      <if test="hsDistrict != null">
        #{hsDistrict,jdbcType=VARCHAR},
      </if>
      <if test="hsHousingestate != null">
        #{hsHousingestate,jdbcType=VARCHAR},
      </if>
      <if test="hsAddress != null">
        #{hsAddress,jdbcType=VARCHAR},
      </if>
      <if test="hsLayer != null">
        #{hsLayer,jdbcType=INTEGER},
      </if>
      <if test="hsOriented != null">
        #{hsOriented,jdbcType=VARCHAR},
      </if>
      <if test="hsLongitude != null">
        #{hsLongitude,jdbcType=DOUBLE},
      </if>
      <if test="hsLatitude != null">
        #{hsLatitude,jdbcType=DOUBLE},
      </if>
      <if test="hsStatus != null">
        #{hsStatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.rent.bean.HouseExample" resultType="java.lang.Integer">
    select count(*) from rent_house
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update rent_house
    <set>
      <if test="record.hsId != null">
        hs_Id = #{record.hsId,jdbcType=INTEGER},
      </if>
      <if test="record.hsType != null">
        hs_Type = #{record.hsType,jdbcType=VARCHAR},
      </if>
      <if test="record.hsArea != null">
        hs_Area = #{record.hsArea,jdbcType=INTEGER},
      </if>
      <if test="record.hsCity != null">
        hs_City = #{record.hsCity,jdbcType=VARCHAR},
      </if>
      <if test="record.hsDistrict != null">
        hs_District = #{record.hsDistrict,jdbcType=VARCHAR},
      </if>
      <if test="record.hsHousingestate != null">
        hs_HousingEstate = #{record.hsHousingestate,jdbcType=VARCHAR},
      </if>
      <if test="record.hsAddress != null">
        hs_Address = #{record.hsAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.hsLayer != null">
        hs_Layer = #{record.hsLayer,jdbcType=INTEGER},
      </if>
      <if test="record.hsOriented != null">
        hs_Oriented = #{record.hsOriented,jdbcType=VARCHAR},
      </if>
      <if test="record.hsLongitude != null">
        hs_Longitude = #{record.hsLongitude,jdbcType=DOUBLE},
      </if>
      <if test="record.hsLatitude != null">
        hs_Latitude = #{record.hsLatitude,jdbcType=DOUBLE},
      </if>
      <if test="record.hsStatus != null">
        hs_Status = #{record.hsStatus,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update rent_house
    set hs_Id = #{record.hsId,jdbcType=INTEGER},
      hs_Type = #{record.hsType,jdbcType=VARCHAR},
      hs_Area = #{record.hsArea,jdbcType=INTEGER},
      hs_City = #{record.hsCity,jdbcType=VARCHAR},
      hs_District = #{record.hsDistrict,jdbcType=VARCHAR},
      hs_HousingEstate = #{record.hsHousingestate,jdbcType=VARCHAR},
      hs_Address = #{record.hsAddress,jdbcType=VARCHAR},
      hs_Layer = #{record.hsLayer,jdbcType=INTEGER},
      hs_Oriented = #{record.hsOriented,jdbcType=VARCHAR},
      hs_Longitude = #{record.hsLongitude,jdbcType=DOUBLE},
      hs_Latitude = #{record.hsLatitude,jdbcType=DOUBLE},
      hs_Status = #{record.hsStatus,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.rent.bean.House">
    update rent_house
    <set>
      <if test="hsType != null">
        hs_Type = #{hsType,jdbcType=VARCHAR},
      </if>
      <if test="hsArea != null">
        hs_Area = #{hsArea,jdbcType=INTEGER},
      </if>
      <if test="hsCity != null">
        hs_City = #{hsCity,jdbcType=VARCHAR},
      </if>
      <if test="hsDistrict != null">
        hs_District = #{hsDistrict,jdbcType=VARCHAR},
      </if>
      <if test="hsHousingestate != null">
        hs_HousingEstate = #{hsHousingestate,jdbcType=VARCHAR},
      </if>
      <if test="hsAddress != null">
        hs_Address = #{hsAddress,jdbcType=VARCHAR},
      </if>
      <if test="hsLayer != null">
        hs_Layer = #{hsLayer,jdbcType=INTEGER},
      </if>
      <if test="hsOriented != null">
        hs_Oriented = #{hsOriented,jdbcType=VARCHAR},
      </if>
      <if test="hsLongitude != null">
        hs_Longitude = #{hsLongitude,jdbcType=DOUBLE},
      </if>
      <if test="hsLatitude != null">
        hs_Latitude = #{hsLatitude,jdbcType=DOUBLE},
      </if>
      <if test="hsStatus != null">
        hs_Status = #{hsStatus,jdbcType=INTEGER},
      </if>
    </set>
    where hs_Id = #{hsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rent.bean.House">
    update rent_house
    set hs_Type = #{hsType,jdbcType=VARCHAR},
      hs_Area = #{hsArea,jdbcType=INTEGER},
      hs_City = #{hsCity,jdbcType=VARCHAR},
      hs_District = #{hsDistrict,jdbcType=VARCHAR},
      hs_HousingEstate = #{hsHousingestate,jdbcType=VARCHAR},
      hs_Address = #{hsAddress,jdbcType=VARCHAR},
      hs_Layer = #{hsLayer,jdbcType=INTEGER},
      hs_Oriented = #{hsOriented,jdbcType=VARCHAR},
      hs_Longitude = #{hsLongitude,jdbcType=DOUBLE},
      hs_Latitude = #{hsLatitude,jdbcType=DOUBLE},
      hs_Status = #{hsStatus,jdbcType=INTEGER}
    where hs_Id = #{hsId,jdbcType=INTEGER}
  </update>

</mapper>