<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rent.mapper.ReviewMapper">
  <resultMap id="BaseResultMap" type="com.rent.bean.Review">
    <id column="rv_Id" jdbcType="INTEGER" property="rvId" />
    <result column="rgt_Id" jdbcType="INTEGER" property="rgtId" />
    <result column="hs_Id" jdbcType="INTEGER" property="hsId" />
    <result column="rv_Service_rat" jdbcType="INTEGER" property="rvServiceRat" />
    <result column="rv_Facility_rat" jdbcType="INTEGER" property="rvFacilityRat" />
    <result column="rv_Review" jdbcType="VARCHAR" property="rvReview" />
    <result column="rv_PicUrl" jdbcType="VARCHAR" property="rvPicurl" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    rv_Id, rgt_Id, hs_Id, rv_Service_rat, rv_Facility_rat, rv_Review, rv_PicUrl
  </sql>
  <select id="selectByExample" parameterType="com.rent.bean.ReviewExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from rent_review
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from rent_review
    where rv_Id = #{rvId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from rent_review
    where rv_Id = #{rvId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.rent.bean.ReviewExample">
    delete from rent_review
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.rent.bean.Review">
    insert into rent_review (rv_Id, rgt_Id, hs_Id, 
      rv_Service_rat, rv_Facility_rat, rv_Review, 
      rv_PicUrl)
    values (#{rvId,jdbcType=INTEGER}, #{rgtId,jdbcType=INTEGER}, #{hsId,jdbcType=INTEGER}, 
      #{rvServiceRat,jdbcType=INTEGER}, #{rvFacilityRat,jdbcType=INTEGER}, #{rvReview,jdbcType=VARCHAR}, 
      #{rvPicurl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.rent.bean.Review">
    insert into rent_review
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rvId != null">
        rv_Id,
      </if>
      <if test="rgtId != null">
        rgt_Id,
      </if>
      <if test="hsId != null">
        hs_Id,
      </if>
      <if test="rvServiceRat != null">
        rv_Service_rat,
      </if>
      <if test="rvFacilityRat != null">
        rv_Facility_rat,
      </if>
      <if test="rvReview != null">
        rv_Review,
      </if>
      <if test="rvPicurl != null">
        rv_PicUrl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rvId != null">
        #{rvId,jdbcType=INTEGER},
      </if>
      <if test="rgtId != null">
        #{rgtId,jdbcType=INTEGER},
      </if>
      <if test="hsId != null">
        #{hsId,jdbcType=INTEGER},
      </if>
      <if test="rvServiceRat != null">
        #{rvServiceRat,jdbcType=INTEGER},
      </if>
      <if test="rvFacilityRat != null">
        #{rvFacilityRat,jdbcType=INTEGER},
      </if>
      <if test="rvReview != null">
        #{rvReview,jdbcType=VARCHAR},
      </if>
      <if test="rvPicurl != null">
        #{rvPicurl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.rent.bean.ReviewExample" resultType="java.lang.Integer">
    select count(*) from rent_review
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update rent_review
    <set>
      <if test="record.rvId != null">
        rv_Id = #{record.rvId,jdbcType=INTEGER},
      </if>
      <if test="record.rgtId != null">
        rgt_Id = #{record.rgtId,jdbcType=INTEGER},
      </if>
      <if test="record.hsId != null">
        hs_Id = #{record.hsId,jdbcType=INTEGER},
      </if>
      <if test="record.rvServiceRat != null">
        rv_Service_rat = #{record.rvServiceRat,jdbcType=INTEGER},
      </if>
      <if test="record.rvFacilityRat != null">
        rv_Facility_rat = #{record.rvFacilityRat,jdbcType=INTEGER},
      </if>
      <if test="record.rvReview != null">
        rv_Review = #{record.rvReview,jdbcType=VARCHAR},
      </if>
      <if test="record.rvPicurl != null">
        rv_PicUrl = #{record.rvPicurl,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update rent_review
    set rv_Id = #{record.rvId,jdbcType=INTEGER},
      rgt_Id = #{record.rgtId,jdbcType=INTEGER},
      hs_Id = #{record.hsId,jdbcType=INTEGER},
      rv_Service_rat = #{record.rvServiceRat,jdbcType=INTEGER},
      rv_Facility_rat = #{record.rvFacilityRat,jdbcType=INTEGER},
      rv_Review = #{record.rvReview,jdbcType=VARCHAR},
      rv_PicUrl = #{record.rvPicurl,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.rent.bean.Review">
    update rent_review
    <set>
      <if test="rgtId != null">
        rgt_Id = #{rgtId,jdbcType=INTEGER},
      </if>
      <if test="hsId != null">
        hs_Id = #{hsId,jdbcType=INTEGER},
      </if>
      <if test="rvServiceRat != null">
        rv_Service_rat = #{rvServiceRat,jdbcType=INTEGER},
      </if>
      <if test="rvFacilityRat != null">
        rv_Facility_rat = #{rvFacilityRat,jdbcType=INTEGER},
      </if>
      <if test="rvReview != null">
        rv_Review = #{rvReview,jdbcType=VARCHAR},
      </if>
      <if test="rvPicurl != null">
        rv_PicUrl = #{rvPicurl,jdbcType=VARCHAR},
      </if>
    </set>
    where rv_Id = #{rvId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rent.bean.Review">
    update rent_review
    set rgt_Id = #{rgtId,jdbcType=INTEGER},
      hs_Id = #{hsId,jdbcType=INTEGER},
      rv_Service_rat = #{rvServiceRat,jdbcType=INTEGER},
      rv_Facility_rat = #{rvFacilityRat,jdbcType=INTEGER},
      rv_Review = #{rvReview,jdbcType=VARCHAR},
      rv_PicUrl = #{rvPicurl,jdbcType=VARCHAR}
    where rv_Id = #{rvId,jdbcType=INTEGER}
  </update>

</mapper>